/*===================== REUSABLE  CSS AREA START =====================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Inter", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: 'satoshi'; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
:root{
  /* color */
  --gradientColor: linear-gradient(270deg, #1292C8 0%, #52BD8C 100%);

  /* border-image-source: linear-gradient(270deg, #1292C8 0%, #52BD8C 100%); */
  
  
  --textBlue: #1191C8;
  --textGray: #686868;
  --textGrayOr: #656565;
  --textGrayDark: #5D5D5D;
  --textDark: #1E1E1E;

  /* font-size */
  --f14 : 14px;
  --f16 : 16px;
  --f18 : 18px;
  --f20 : 20px;
  --f24 : 24px;
  --f32 : 32px;

}
.modal {
  z-index: 999999;
}
.txtGrdient {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
}

a.body__arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 28px;
  position: absolute;
  top: 400px;
  left: 2.8%;
  z-index: 999;
  box-shadow: 0px 1.5px 3.75px 0px #1386601A;
  box-shadow: 0px 6.75px 6.75px 0px #13866017;
  /* box-shadow: 0px 15px 9px 0px #1386600D; */
  /* box-shadow: 0px 26.25px 10.5px 0px #13866003; */
  /* box-shadow: 0px 41.25px 11.25px 0px #13866000; */
}
ul,ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;

}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  margin-bottom: 6px;
}

h6 {
  font-size: 16px;
  margin-bottom: 4px;
}
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btns {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn__gradient {
  border-radius: 8px;
  background-image: var(--gradientColor);
  box-shadow: -6px -6px 16px 0px #00000040 inset;
  box-shadow: 5px 5px 4px 0px #FFFFFF40 inset;
  color: #fff;
}
.btn__gradient:hover {
  color: #fff;
  box-shadow: -6px -6px 16px 0px #00000040 inset;
}
.border-gradient {
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
}
.border-gradient:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}
.mb-0 {
  margin: 0;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

main {
  overflow: hidden !important;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1212px;
  margin: 0 auto;
}
/*===================== REUSABLE CSS AREA END =====================*/

/*===================== OFFCANVAS CSS AREA START =====================*/
.menu-close {
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 20px;
  right: 18px;
  cursor: pointer;
  transition: 0.4s;
  border: 1px solid #fff;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-close:hover {
  color: #000;
  background: #fff;
}

.offcanvas-area {
	position: fixed;
	left: -100%;
	height: 100%;
	width: 318px;
	z-index: 99999999;
	padding-top: 70px;
	background: #FFFFFF;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	visibility: hidden;
	top: 0;
	overflow-y: scroll;
}
.offcanvas-area div#seachField {
  width: 92%;
}
.offcanvas-area.active {
  left: 0;
  visibility: visible;
}

.offcanvas-area .main-menu ul li a {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  display: block;
  transition: 0.3s;
  padding: 16px 22px;
  border-bottom: 1px solid #80808059;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.offcanvas-area .main-menu ul li:last-child a {
  border-bottom: none;
}

.aside_ul li a {
  position: relative;
}

.offcanvas-area .main-menu ul li:first-child a {
  border-top: 1px solid #fff;
}

.offcanvas-area .main-menu ul li a:hover,
.offcanvas-area .main-menu ul li a[aria-expanded="true"] {
  color: #d5d5d5;
}

.offcanvas-menu .main-menu ul {
  display: block;
  padding-left: 0;
  margin-bottom: 35px;
  list-style: none;
}

.offcanvas-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999999;
}

.offcanvas-overlay.active {
  opacity: 0.4;
  visibility: visible;
}

.offcanvas-area {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.offcanvas-area::-webkit-scrollbar {
  display: none;
}
.offcanvas-menu {
  border-top: 2px solid #80808059;
}


img.header_icon2 {
  width: 20px;
  margin-right: 5px;
}

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 22px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  background-color: var(--bs-accordion-btn-bg);
  border-bottom: 1px solid #80808059;
  border-radius: 0;
  overflow-anchor: none;
  transition: var(--bs-accordion-transition);
}

ul.toggle__menu li a {
  font-weight: 500 !important;
}

ul.toggle__menu {
  margin-bottom: 0px !important;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #80808059;
  outline: 0;
  box-shadow: none !important;
  background: #fff !important;
}

.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #fff !important;
  box-shadow: none !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-repeat: no-repeat;
  background-size: 18px;
  transition: var(--bs-accordion-btn-icon-transition);
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon) !important;
  transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-body {
  padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.header__bar a {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
  font-size: var(--f24);
  margin-left: 10px;
}
/*===================== OFFCANVAS CSS AREA END =====================*/

/*===================== HEADER CSS AREA START =====================*/

.modal-header {
  border: none !important;
}

.login__title {
  text-align: center;
  margin-bottom: 21px;
}

.login__title > img {
  width: 166px;
  margin-bottom: 21px;
}

.login__title span {
  display: block;
  font-size: 12px;
  color: var(--textBlue);
}

.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-body form input {
  padding: 14px 48px;
  border: 1px solid var(--disabled, #A3A3A3);
  border-radius: 8px;
  font-size: 14px;
}

.modal-body form a {
  text-align: end;
  color: var(--textBlue) !important;
  font-size: 12px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none !important;
}
.register__input {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: start;
}

.register__input label {
  font-size: 14px;
}
.modal-header button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  background: var(--gradientColor);
  box-shadow: -3.78px -3.78px 10.09px 0px #00000040 inset;
  box-shadow: 3.15px 3.15px 2.52px 0px #FFFFFF40 inset;
}

.modal-header button img {
  width: 9px;
}
.detailB {
  padding: 0px !important;
}
.modal-content {
  border-radius: 16px !important;
  overflow: hidden;
  border: none !important;
}
.detail-slide {
  padding: 32px !important;
  
}
.modal-footer button {
  width: 100%;
  height: 52px;
}
button.registers {
  border-radius: 8px;
  position: relative;
  background-image: var(--gradientColor);
  z-index: 2;
}

button.registers:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}
.modal-backdrop {
  z-index: -1;
  background-color: #fff;
}
.login-area,.search__login {
  position: relative;
}
.account-card {
  width: 159px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 2px 4px 0px #5959591A;
  box-shadow: 2px 7px 7px 0px #59595917;
  position: absolute;
  top: 100%;
  right: 0px;
  background: #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
}
.shows {
  opacity: 1;
  visibility: visible;
}

.account-card ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.account-card ul li a {
  color: #000000;
}


.welcome h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #fff;
}

.welcome {
  background: linear-gradient(298.19deg, #1292C8 18.28%, #52BD8C 83.92%);
  text-align: center;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
}

.header__wrap {
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 131px;
}

.header__wrap > ul {
  display: flex;
  align-items: end;
  gap: 8px;
}

.header__wrap > ul li a {
  font-weight: 600;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
  padding: 0px 24px 6px;
  position: relative;
}

.header__wrap > ul li a:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-image: var(--gradientColor);
  transition: all 0.2s ease-in-out;
}

.header__wrap > ul li a:hover:after,.header__wrap > ul li a.active:after {
  width: 100%;
}

.welcome h6 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #fff;
}

.header__wrap {
  padding: 13px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 131px;
}

.header__wrap > ul {
  display: flex;
  align-items: end;
  gap: 8px;
}

.header__wrap > ul li a {
  font-weight: 600;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
  padding: 0px 24px 6px;
  position: relative;
}

.header__wrap > ul li a:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 0%;
  height: 3px;
  background-image: var(--gradientColor);
  transition: all 0.2s ease-in-out;
}

.header__wrap > ul li a:hover:after {
  width: 100%;
}

.search__login {
  display: flex;
  align-items: center;
  gap: 53px;
}

div#seachField {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  position: relative;
  border-radius: 44px;
  background-image: var(--gradientColor);
  height: 44px;
  max-width: 344px;
  width: 100%;
}
div#seachField img{
  width: 24px;
}
div#seachField input, div#seachField input::placeholder {
  font-size: 14px;
}

.search__area {
  width: 95%;
  margin: 0 auto 20px;
}

div#seachField:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 44px;
  z-index: 0;
  background: #fff;
}

div#seachField * {
  z-index: 1;
}

div#seachField input,div#seachField input::placeholder {
  font-weight: 500;
  color: var(--textBlue);
  width: 100%;
}
.verify {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 8px;
}

.verify input {
  border-radius: 8px;
  border: 1px solid var(--main, #2691C9);
  width: 54px;
  height: 54px;
  padding: 0px !important;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.modal-body form p {
  text-align: center;
  margin-bottom: 48px;
}

.modal-body form p a {
  font-size: 16px;
  margin-left: 14px;
}

.login__title a {
  color: var(--textBlue) !important;
}
a.login {
  font-weight: 600;
  color: var(--textBlue);
  position: relative;
  border-radius: 44px;
  background-image: var(--gradientColor);
  width: 121px;
  height: 44px;
  z-index: 2;
  cursor: pointer;
}
a.login:hover {
  color: #fff;

  background-image: var(--gradientColor);
}
a.login:hover:after {
  display: none;
}
a.login:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 44px;
  z-index: -1;
  background: #fff;
}

.most__search {
  max-width: 344px;
  width: 100%;
  border-radius: 16px;
  padding: 16px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 9999 !IMPORTANT;
  display: none;
}
.screen__overlay {
  position: fixed;
  inset: 0px;
  background: red;
  z-index: 9999;
  display: none;
}
.overlyActive {
  display: block;
}
.header__area {
  position: relative;
  z-index: 999999;
}
.searchActive {
  display: block;
}
.search__items {
  margin-top: 18px;
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.search__items button {
  font-size: 12px;
  border-radius: 8px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
  color: var(--textGray);
}

.search__items button img {
  width: 10px !important;
}

.search__items button:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}
/*===================== HEADER CSS AREA END =====================*/
.company__contact {
    position: fixed;
    top: 350px;
    right: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 13px 14px;
    background: #ffff;
    border-radius: 8px 0px 0px 8px;
    z-index: 999;
    box-shadow: -1px 0px 3px 0px #3838381A;
    box-shadow: -5px 0px 5px 0px #38383817;
    box-shadow: -11px 0px 7px 0px #3838380D;
    /* box-shadow: -20px 0px 8px 0px #38383803; */
    /* box-shadow: -32px 0px 9px 0px #38383800; */
}
/*===================== HERO CSS AREA START =====================*/
img.khidmatii-img {
  position: absolute;
  top: 288px;
  width: 10%;
  z-index: -2;
}
section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero__contact {
  background-position: bottom;
  margin-bottom: 13px;
}

.hero__area {
  padding: 55px 0px 70px;
}

.contact__hero__content {
  text-align: center;
}

.contact__hero__content h4 {
  font-size: var(--f20);
  font-weight: 600;
  color: var(--textBlue);
  padding: 8px;
  display: inline-block;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: 'satoshi';
}
/*===================== HERO CSS AREA END =====================*/

/*===================== CONTACT-FORM CSS AREA START =====================*/

.title {
  text-align: center;
  margin-bottom: 16px;
  font-family: 'satoshi';
}
.title h3 {
  font-size: var(--f32);
  font-weight: 400;
}

.contact__form__wrap {
  max-width: 518px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  padding: 8px 34px 22px;
  box-shadow: 0px 4px 10px 0px #BABABA1A;
  box-shadow: 0px 17px 17px 0px #BABABA17;
  /* box-shadow: 0px 39px 23px 0px #BABABA0D; */
  /* box-shadow: 0px 70px 28px 0px #BABABA03; */
  /* box-shadow: 0px 109px 30px 0px #BABABA00; */
}

section.contact__form {
  margin-bottom: 100px;
}

.input__field {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input__field * {
  font-size: var(--f14);
}

.inputL {
  border-radius: 8px;
  padding: 13px 15px;
  background-image: var(--gradientColor);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}
.input__field input,.input__field textarea {
  color: var(--textGray);
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  
  display: block;
}

.inputL:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: 1;
  background: #fff;
}

form > button {
  width: 154px;
  height: 44px;
  margin: 0 auto;
  display: block;
}




.nice-select {
  border: none;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--thmColor) !important;
}
span.current {
  font-size: 16px;
}

span.current {
  font-size: 14px;
}

.nice-select .list {
  width: 100%;
  border-radius: 0px;
}

ul.list .option {
  background: #1CA17D1A;
  font-weight: 500 !important;
  font-size: 16px !important;
}

.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background: #1CA17D33;
}

.hero__single__form__select {
  position: relative;
  z-index: 9;
  border-right: 1px solid var(--stroke, #E0E0E0);
  margin-right: 15px;
  height: 32px;
  display: flex;
  align-items: center;
}
.inputL.input-selects {
  z-index: 9;
  padding: 8px 15px;
}
.nice-select:after {
  height: 10px;
  top: 44%;
  width: 10px;
}
/*===================== CONTACT-FORM CSS AREA END =====================*/

/*===================== CONTACT-DETAIL CSS AREA START =====================*/
section.contact__details {
  background-position: center;
  padding: 200px 0px;
  margin: -180px 0px -50px;
}

.contact__detail__card p {
  font-size: var(--f14);
  color: var(--textGray);
  line-height: 18.50px;
}

.contact__detail__card h6 {
  margin-bottom: 4px;
  color: #000;
}

.contact__detail__card * {
  font-family: 'satoshi';
}
/*===================== CONTACT-DETAIL CSS AREA END =====================*/

/*===================== CONTACT-MAP CSS AREA START =====================*/
.map__title {
  text-align: center;
  margin-bottom: 8px;
}

section.contact__map {
  margin-bottom: 99px;
}
/*===================== CONTACT-MAP CSS AREA END =====================*/

/*===================== TEAM CSS AREA START =====================*/
.team__title.title {
  margin: 0px auto 70px;
  max-width: 930px;
}

section.team__area {
  margin-top: 57px;
}

.team__title.title h4 {
  font-weight: 600;
}
.team__wrap {
  display: flex;
  flex-direction: column;
  gap: 84px;
  max-width: 1128px;
  margin: 0 auto 0px;
}
.team__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.team__card__content ul {
  display: flex;
  flex-direction: column;
}

.team__card__content ul li {
  flex-shrink: 0;
}
.team__card__content ul li a {
  color: #000;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  overflow: hidden;
  gap: 16px;
  border-radius: 0px;
}

.team__card2 {display: grid;grid-template-columns: repeat(2,1fr);gap: 24px;}
.team__card__content ul li a img {
  width: 16px;
  transform: rotate(61deg) translate(16px,-46px);
  filter: brightness(0);
}
.team__card__content ul li a:hover img {
  transform: rotate(0deg) translateY(0px);
}
.team__card__content {
  max-width: 450px;
  width: 100%;
}
.team__card__content ul li a:hover {
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
  box-shadow: 1px 2px 5px #bfbfbf;
}

/*===================== TEAM CSS AREA END =====================*/

/*===================== ABOUT-COUNT CSS AREA START =====================*/
.about__details {
  padding: 180px 0px !important;
  margin: -35px 0px -50px !important;
}
.contact__detail__card img {
  width: 96px;
  margin-bottom: 26px;
}

.contact__detail__card {
  text-align: center;
}

.contact__detail__card h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.contact__detail__card span {
  font-size: 20px;
}

.contact__detail__card * {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
}
/*===================== ABOUT-COUNT CSS AREA END =====================*/

/*===================== VISION CSS AREA START =====================*/
.vision__card img {
  width: 70px !important;
}

.vision__card h5 {
  margin: 16px 0px;
  font-weight: 600;
}

.vision__card p {
  font-size: 14px;
  color: var(--textDark);
}
.vision__slider {
  display: flex;
  align-items: center;
  gap: 8px;
  animation: 10s slide infinite linear;
}
.vision__card {
  max-width: 383px;
  flex-shrink: 0;
  border-radius: 7px;
  padding: 24px;
  box-shadow: 2px 6px 13px 0px #7878781A;
  box-shadow: 7px 22px 23px 0px #78787817;
  /* box-shadow: 16px 50px 31px 0px #7878780D; */
  /* box-shadow: 29px 88px 37px 0px #78787803; */
  /* box-shadow: 46px 138px 41px 0px #78787800; */
  background: linear-gradient(278.94deg, #E4FFE6 -4.61%, #E3F9FF 105.09%);
}
/* .title__area {
  animation: 10s slide infinite linear;
} */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.vision__slider:hover {
  animation-play-state: paused;
}
section.vision__area {
  margin-bottom: 26px;
}

.vision__title.title {
  max-width: 552px;
  margin-left: auto;
  margin-right: auto;
}
/*===================== VISION CSS AREA END =====================*/

/*===================== LEADERSHIP CSS AREA START =====================*/
section.leadership__area {
  margin-bottom: 74px;
}

.leadership__card img {
  width: 104px;
  margin-bottom: 29px;
}

.leadership__card {
  text-align: center;
  padding: 28px 38px;
  box-shadow: -2px 4px 9px 0px #8282821A;
  box-shadow: -7px 15px 17px 0px #82828217;
  /* box-shadow: -15px 34px 23px 0px #8282820D; */
  /* box-shadow: -27px 61px 27px 0px #82828203; */
  /* box-shadow: -42px 95px 29px 0px #82828200; */
}

.leadership__card__content * {
  font-weight: 400;
}

.leadership__card__content h6 {
  margin: 12px 0px;
}

.leadership__card__content p {
  font-size: var(--f14);
  line-height: 26px;
}
/*===================== LEADERSHIP CSS AREA END =====================*/






/*===================== SERVICE-AREA CSS AREA START =====================*/

.header__area-service {
  margin-bottom: 10px;
  box-shadow: 2px 19px 42px 0px #5B9CB91A;
  box-shadow: 9px 76px 76px 0px #5B9CB917;
  /* box-shadow: 20px 171px 103px 0px #5B9CB90D; */
  /* box-shadow: 35px 304px 122px 0px #5B9CB903; */
  /* box-shadow: 55px 475px 134px 0px #5B9CB900; */
}

.category__title {
  text-align: start;
}

.category__title h4 {
  color: var(--textBlue);
  font-weight: 600;
  font-family: 'satoshi';
}
.owl-carousel .owl-stage-outer {
  padding: 0px 8px;
}
.category__card {
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
  border-radius: 8px;
  height: 67px;
  display: grid;
  grid-template-columns: 8fr 4fr;
  padding: 0px 15px;
  text-align: center;
  place-content: center;
  place-items: center;
  gap: 0px;
}

.category__card:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}

.category__card img {
  width: 45px !important;
}

.category__card span {
  font-size: 15px;
  color: #41405D;
}

.category__card:hover:before {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  background-image: linear-gradient(278.94deg, rgba(177, 255, 185, 0.36) -4.61%, rgba(127, 226, 253, 0.3) 105.09%) !important;
  z-index: 9999;
}

.section.service__category {
  margin-bottom: 51px;
}






.appliance__service {
  border-radius: 8px;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 16px;
  color: var(--textBlue);
  background: #fff;
}

.booking {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-top: 8px;
  margin: 8px 0px 0px;
  /* height: 0px; */
  border-top: 1px dashed var(--stroke, #E0E0E0);
}
.booking1,.booking2 {
  visibility: hidden;
  opacity: 0;
}
.bookingShow {
  visibility: visible;
  opacity: 1;
}
.booking span:last-child {
  color: var(--textBlue);
}
.star {
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--gradientColor);
  font-size: 20px;
  transition: 0s;
}
.add{
  color: #FF830F;

}

.booking img {
  width: 22px;
}

.booking__cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 22px;
}
.service__repair__content h5 {
  cursor: pointer;
}
.booking__card span {
  margin-top: 8px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--textDark);
}
.booking__card__img {
  width: 100%;
  height: 68px;
  position: relative;
  z-index: 7;
  overflow: hidden;
  border-radius: 9px;
}

.booking__card__img:after {
  content: '';
  position: absolute;
  inset: 6px;
  border-radius: 0px;
  z-index: -2;
  background: #fff;
}

.booking__card__img img {
  position: absolute;
  inset: 1px;
  width: 97%;
  height: 96%;
  border-radius: 0px;
}

.booking__card__img:hover {
  background-image: var(--gradientColor);
}




.most__booked > h5 {
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
  line-height: 30px;
  padding: 3px 16px;
  border-radius: 8px;
}

.service__repair {
  border-radius: 8px;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 11px 12px 11px 22px;
  display: flex;
  gap: 26px;
  margin-top: 8px;
  margin-bottom: 28px;
  overflow: hidden;
}
.service__repair2,.service__repair3 {
  height: 82px;
  transition: .5s linear;
}
.serviceRepairActive {
  height: auto !important;
  transition: .5s linear;
}
.sell {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.sell1,.sell2 {
  margin-top: -38px;
}
.sellActive{
  margin-top: 10px;
}
.sell div img {
  width: 18px;
}

.sell > span, sell h5 {
  font-size: 20px;
}

.sell span {
  color: var(--textGray);
}

.sell > span {
  text-decoration: line-through;
  font-weight: 300;
}

.sell div span {
  font-size: 12px;
}
.service__list__detail {
  padding-top: 8px;
  border-top: 1px dashed var(--stroke, #E0E0E0);
}
.service__list__detail1,.service__list__detail2 {
  transform: translateY(90px);
  opacity: 0;
  visibility: hidden;
}
.service__list__detailActive {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.service__repair__content ul li {
  font-size: 14px;
}

.service__repair__content ul {
  margin-bottom: 8px;
}

.service__repair__content a {
  font-weight: 600;
}
.repairs-imgs,.repairs-imgs2 {
  transform: translateY(200px);
}

.repairs-imgActive {
  transform: translateY(0px);
}
.service__repair__img > a {
  width: 132px;
  height: 35px;
  margin: -12px auto 0px;
  z-index: 1;
  position: relative;
  box-shadow: -6px -6px 16px 0px #00000040 inset;
  box-shadow: 5px 5px 4px 0px #FFFFFF40 inset;
  /* box-shadow: 0px 2px 16px 0px #00000029; */
}
.bookNow,.bookNow2 {
  transform: translateX(30px);
  opacity: 0;
  visibility: hidden;
}
.bookNowActive{
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
}
.repairs__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 29px;
}

.repair__card__left > h5 {margin-bottom: 4px;}

.repairs__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
  border-radius: 8px;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 10px 22px;
  background: #fff;
}
.service__repair__img > .arrroDwn {
  height: 0px;
}
.arrows-downs, .arrows-downs2 {
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  font-size: 18px;
  color: var(--textBlue);
  transform: translateY(16px);
  cursor: pointer;
}
.arrowDownActive {
  transform: translateY(-130px);
}
.arrows-downs img,.arrows-downs2 img {
  width: 24px;
}

.repair__card__left .sell {
  border: none;
}


.service__cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__cart__card {
  border-radius: 8px;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 11px 16px;
  overflow: hidden;
}

.service__cart__card > a {
  width: 132px;
  height: 35px;
  margin: 0 auto;
}

.service__cart__card2 {
  padding-bottom: 0px;
}

.offer__more {
  background: #fff;
  padding: 15px 0px;
  position: relative;
}

ol.cart-card-list {
  height: 35px;
}
.cartList {
  height: auto !important;
}
.cart__title {
  display: flex;
  align-items: center;
  gap: 8px;
  border-bottom: 1px dashed var(--stroke, #E0E0E0);
  margin-bottom: 8px;
  padding-bottom: 3px;
}

.cart__title img {
  width: 20px;
}

.cart__title h4 {
  font-weight: 500;
  color: var(--textBlue);
  font-family: "Poppins", sans-serif;
}

.service__cart__card p {
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  padding-bottom: 11px;
  margin-bottom: 8px;
}

.service__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.service__cart__card .more-offers {
  width: 132px;
  height: 32px;
  margin: 0 auto;
  cursor: pointer;
}
ol {
  list-style: disc;
  color: var(--textGray);
}
.service__cart__card ol {
  margin-bottom: 15px;
  padding-right: 8px;
  list-style: none;
}
.service__cart__card ol li {
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  margin-bottom: 8px;
  padding: 0px 15px 8px;
}
section.service__application {
  margin-bottom: 300px;
}
.emergency-booking__check {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.emergency-booking__check img {
  width: 19px;
}
.checkout__title.title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkout__title img {
  width: 45px;
}

.checkout__title {
  margin-bottom: 34px;
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  padding-bottom: 12px;
}

.customer__card h6 {
  margin-bottom: 4px;
}

.customars__details {
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 5px;
  position: relative;
  z-index: 99;
  border-radius: 8px;
  background-image: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
}

.customars__details form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 12px;
  color: var(--textBlue);
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
}

.customars__details form button img {
  width: 16px;
}

.customars__details form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.checkout__input {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 29px;
}

.checkout__input input {
  height: 48px;
  padding: 6px;
  border: 1px solid var(--disabled, #A3A3A3);
  width: 100%;
}

.checkout__input__btn {
  display: flex;
  gap: 22px;
  height: 48px;
}

.checkout__input__btn button button {
  height: 100%;
}

.checkout__input__btn button {
  width: 100%;
  height: 100%;
}

.customars__details form * {
  font-size: 14px;
  color: var(--textGray);
  border-radius: 8px;
}

.checkout__input__btn button:last-child {
  border: 1px solid var(--bwq, #686868);
  background: #fff;
}

.checkout__input__btn button:first-child {
  background: linear-gradient(270deg, #1292C8 0%, #52BD8C 100%);
  color: #fff;
}

.emergency-booking__check h6 {
  margin-bottom: 0px;
}

.customars__details form .checkout__input.address {
  grid-template-columns: repeat(1,1fr);
}
.customer__card__field img {
  width: 24px;
}

.customer__card__field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding: 12px 16px;
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
}

.customer__card__field .write-btn {
  width: 40px;
  height: 32px;
  border-radius: 16px;
  background: #2691C933;
}

.customer__card__field .write-btn img {
  width: 16px;
}

.last-p {
  color: var(--textGray);
  font-size: 12px !important;
}

.collection * {
  font-weight: 400;
}

.collection h5 {
  margin-bottom: 8px;
}
.customer__img__content {
  display: flex;
  align-items: center;
  gap: 8px;
}
.collection ol li {
  font-size: 12px;
  margin-left: 18px;
  margin-bottom: 8px;
}

.collection {
  margin-left: 24px;
}

img.clck {
  filter: brightness(0.5);
}

.pricing__card > h5 {
  margin-bottom: 8px;
}

.pricing__card {
  padding: 22px 12px;
  border-radius: 8px;
  position: relative;
  background-image: var(--gradientColor);
  z-index: 2;
}

.customars__details:after, .pricing__card:after, .apply__discount:after {
  content: '';
  position: absolute;
  inset: 1px;
  z-index: -1;
  background: #fff;
  border-radius: 7px;
}

.pricing {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.apply__discount {
  border-radius: 8px;
  position: relative;
  background-image: var(--gradientColor);
  z-index: 2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 9px;
}

.apply__discount button {
  width: 79px;
  height: 100%;
}

.apply__discount span {
  color: var(--textGray);
  font-size: 14px;
}

.payment__summary ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--textDark);
}
.pricing__card .sell {
  border: none;
  margin-bottom: 8px;
  padding-bottom: 0px;
}
.payment__summary ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 11px;
  padding-bottom: 13px;
  border-bottom: 1px dashed var(--stroke, #E0E0E0);
}

.total__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
  border-radius: 8px;
  height: 38px;
  padding: 7px;
}

.amount__pay {
  border-radius: 8px;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: var(--textDark);
  margin-bottom: 8px;
}

.pricing > button,.py-proceed {
  width: 208px !important;
  height: 48px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  display: block;
}
.section.service__checkout {
  margin-bottom: 200px;
}






.detail__service {
  max-width: 613px;
  width: 100%;
}
div#carouselExampleControls {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 11px;
}
button.carousel-control-next img, button.carousel-control-prev img {
  width: 9.5px;
}

button.carousel-control-next,button.carousel-control-prev {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button.carousel-control-next {
  right: 9px;
}

button.carousel-control-prev {
  left: 9px;
}

.modal__service__details .sell {
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  padding-bottom: 15px;
  margin-bottom: 1;
}

.modal__service__details h5 {
  margin-bottom: 11px;
}

.modal__service__details ol {
  margin-left: 22px;
  margin-bottom: 12px;
}

.modal__service__details ol li {
  font-size: 14px;
}

.melvin__card {
  border: 1px solid var(--stroke, #E0E0E0);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 12px;
}

.melvin__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.melvin__card p {
  font-size: 14px;
  line-height: 24px;
  color: var(--textGray);
}

.sell h5 {
  margin: 0px;
}
.add-to-cart {
  width: 149px;
  height: 40px;
}

.modal__service__details .sell__cart {
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  padding-bottom: 15px;
  margin-top: -11px;
  margin-bottom: 11px;
  display: flex;
  justify-content: space-between;
}

.sell__cart .sell {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.proceed__slot ol {
  margin-left: 20px;
  font-size: 12px;
}

.proceed__slot h6 {
  margin-bottom: 8px;
  text-align: start;
}
.proceed__slot h4 {
  font-size: 22px;
  margin-bottom: 12px;
  color: var(--textDark);
}
.proceed__slot {
  margin-bottom: 12px;
  text-align: start;
}
.btns__proceed {
  display: flex;
  gap: 12px;
}

.btns__proceed button {
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
  border-radius: 8px;
  height: 32px;
  font-size: 11px;
  color: var(--textBlue);
}

.btns__proceed button:first-child {
  width: 120px;
}

.btns__proceed button:last-child {
  width: 52px;
}

.btns__proceed button:last-child img {width: 24px;}
.proceed__slot p {
  font-size: 12px;
  color: var(--textGray);
  margin-top: -8px;
}

.proceed__date {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.proceed__date__card {
  border-radius: 8px;
  width: 138px;
  height: 32px;
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.proceed__date__card span {
  font-size: 11px;
  font-weight: 500;
  color: var(--textGray);
}

.proceed__date__card:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}
.cenceld {
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
  border-radius: 8px;
}
.cenceld:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}
.proceed__footer {
  display: flex !important;
  flex-direction: row !important;
  justify-content: end;
  gap: 20px;
}

.proceed__footer button {
  width: 147px;
  height: 40px;
}
.proceed__date__card:hover {
  background-image: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
}

.proceed__date__card:hover:after {
  display: none;
}

.customer__img__content p {
  font-size: 14px;
}
.customer__img__content h6 {
  font-size: 14px;
  margin-bottom: 0px;
}
.proceed__discount .customer__card__field {
  max-width: 349px;
  width: 100%;
  background: linear-gradient(278.94deg, #E4FFE6 -4.61%, #E3F9FF 105.09%);
  margin-bottom: 8px;
}

.proceed__discount ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
}

.proceed__discount ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--stroke, #E0E0E0);
  margin-bottom: 10px;
  padding-bottom: 8px;
}

.poceed__total {
  display: flex;
  justify-content: space-between;
}

.emargency__charge {
  display: flex;
  align-items: center;
  gap: 18px;
}

.emargency__charge span {
  color: var(--textBlue);
  font-size: 10px;
}

.write-title h5 {
  text-align: start;
  margin-bottom: 21px;
}

.addnew {
  padding: 16px 0px 23px;
  position: relative;
}

.addnew span {
  /* font-size: 12px; */
  color: var(--textGray);
  background: #fff;
  position: relative;
  z-index: 1;
  width: 71px;
  margin: 0 auto;
  padding: 0px 10px;
}

.addnew:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #E0E0E0;
  top: 48%;
  left: 0px;
}

form.form-customer input {
  padding: 14px 15px;
}

form.form-customer a {
  text-align: start;
}

.form-customer button {
  width: 167px;
  height: 48px;
  margin-top: 14px;
}

.inputs__customers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.customer__state,.use-location {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.my-location {
  height: 48px;
  font-size: 14px;
  color: var(--textBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 8px;
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
}

.home__office__btn a {
  border-radius: 8px;
  width: 86px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__office__btn {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 5px;
}

.home__office__btn a:last-child {
  position: relative;
  z-index: 1;
  background-image: var(--gradientColor);
}

.home__office__btn a:after {
  content: '';
  position: absolute;
  inset: 1px;
  border-radius: 7px;
  z-index: -1;
  background: #fff;
}

.home__office__btn a:first-child {
  background: var(--gradientColor);
  color: #fff !important;
}

.home__office span {
  font-size: 12px;
}
.slots-btn {
  margin: 30px auto 0px;
  width: 162px;
  height: 48px;
  display: block;
}

.payment__method {
  border: 1px solid var(--stroke, #D9D9D9);
  border-radius: 8px;
  padding: 20px 12px;
}

.payment__method p {
  color: #A3A3A3;
  font-size: 12px;
}

.single__payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}
.payment__method .single__payment:nth-child(3) {
  margin-bottom: 0px;
}
.single__payment img {
  width: auto;
}

.payment__check {
  display: flex;
  align-items: start;
  gap: 11px;
}

.payment__name {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.payment__name span {
  font-size: 14px;
  color: var(--textGray);
}

.enter__upi {
  height: 46px;
  padding: 4px 5px 4px 13px;
  border-radius: 8px;
  border: 1px solid var(--stroke, #D9D9D9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 19px 0px 4px;
}
.enter__upi input {
  width: 74%;
  height: 100%;
  border: none !important;
  outline: none !important;
}
.enter__upi button {
  margin: 0px;
  border-radius: 8px;
  background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);
  width: 84px;
  height: 100%;
  font-size: 15px;
}

.payment__method p span {
  color: var(--textDark);
}

.cash__pay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--stroke, #D9D9D9);
  border-radius: 8px;
  height: 51px;
  padding: 12px;
  margin: 21px 0px 30px;
}

.cash__pay img {
  width: auto;
}

.paycash__check {
  display: flex;
  align-items: start;
  gap: 11px;
}

.payment__method__card > button {
  width: 100%;
  height: 40px;
}
.payment__method__card {
  margin: 14px 0px;
  display: none;
}
.paymentActive {
  display: block;
}

.payment__select {
  width: 20px;
  height: 20px;
  border: 1.62px solid #2D2D2DC2;
  border-radius: 50%;
  position: relative;
}

.payment__select input {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.payment__select input:checked ~ span {
  background: #1977A7;
  position: absolute;
  inset: 2px;
  border-radius: 50%;
}
/*===================== SERVICE-AREA CSS AREA END =====================*/







/*===================== BOOKING-AREA CSS AREA START =====================*/
.booking_wrap {
  max-width: 670px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.booking_wrap .booking__card span {
  text-align: start;
  color: var(--clr);
  margin-bottom: 9px;
}

.booking__card {
  position: relative;
  border: 1px solid var(--stroke, #E0E0E0);
  padding: 11px 24px 11px 16px;
}

.booking__card button {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 7.8px;
}

.booking__card a {
  position: absolute;
  inset: 0px;
  opacity: 0;
  z-index: 1;
}

.booking__success {
  padding: 16px;
  border: 1px solid var(--stroke, #E0E0E0);
}

.booking__success span {
  display: block;
  color: var(--textGray);
}

.booking__success__title {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 13px;
}

.booking__success__title img {
  width: 24px;
}

.booking__success__title h6 {color: #52BD8B;margin-bottom: 0px;}

.booking__success button {
  width: 100px;
  height: 42px;
  margin-top: 16px;
}

.booking__success2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.download__invoice {
  padding: 13px 24px;
  border: 1px solid var(--stroke, #E0E0E0);
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.download__img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.download__img img,.booking__detail__card img {
  width: 24px;
}

.booking__detail__card > .amount__pay {
  width: 100%;
  padding: 0px;
  border: 0px;
  flex-direction: column;
  align-items: start;
  margin-bottom: 0px;
}

.booking__detail__card > .amount__pay p span {
  display: inline-block;
}

.booking__detail__card {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: start;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--stroke, #E0E0E0);
}

.booking__title img {
  width: 31px;
}

.booking__detail h5 {
  font-weight: 600;
}

.booking__detail span {
  color: var(--textGray);
}

.booking__detail__card > .amount__pay p:last-child {
  color: var(--textGray);
}

.booking__detail__card > .amount__pay > span {
  font-size: 12px;
}

.booking__success2 .booking__detail__card:last-child {
  border: none;
}
/*===================== BOOKING-AREA CSS AREA END =====================*/









/*===================== FOOTER CSS AREA START =====================*/
.footer__social {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 72px 11px;
}

.footer__top * {
  font-family: 'satoshi';
}

.footer__top h4 {
  font-size: var(--f24);
  font-weight: 600;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(
--gradientColor);
}

.footer__bottom {background: linear-gradient(278.94deg, rgba(177, 255, 185, 0.5) -4.61%, rgba(127, 226, 253, 0.5) 105.09%);padding: 28px 85px 35px;}

.footer__cards {
  display: flex;
  align-items: start;
  gap: 85px;
}

footer#footer__area {
  margin-bottom: 30px;
}

.footer__wrap {
  border-radius: 16px;
  box-shadow: 0px -2px 4px 0px #BFBFBF1F;
  box-shadow: 0px -7px 7px 0px #BFBFBF1A;
  box-shadow: 0px -16px 10px 0px #6a6a6a0f;
  overflow: hidden;
}

.footer__card h5 {
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--textDark);
}

.footer__card > ul li *,.footer__card > ul li,.footer__card > p {
  font-size: var(--f14);
  color: var(--textGrayDark);
}

.footer__card > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.send__mail {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.send__mail input {
  border-radius: 8px;
  padding: 0px 16px;
  height: 44px;
  color: #9D9D9D;
}

.send__mail button {
  height: 44px;
}


/*===================== FOOTER CSS AREA END =====================*/

.modal-content-calender {
  background: linear-gradient(278.94deg, #E4FFE6 -4.61%, #E3F9FF 105.09%);
  max-width: 360px;
  border-radius: 28px !important;
}
div#example {
  width: 100% !important;
  padding: 16px 24px;
}

.p-3.d-flex.flex-column {
  padding: 0px !important;
  margin-bottom: 12px;
}

.p-3.d-flex.flex-column small {
  font-weight: 500;
}

.p-3.d-flex.flex-column h4 {
  font-size: 32px;
  margin-top: 36px;
}

.d-flex.js-cell-inner.justify-content-center.align-items-center.rounded-circle.w-100.h-100.border.text-bg-primary.js-today.fw-bold {
  width: 100% !important;
  height: 100% !important;
  background: linear-gradient(270deg, #1292C8 0%, #52BD8C 100%);
  border-radius: 8px !important;
}

.d-flex.js-cell-inner.justify-content-center.align-items-center.rounded-circle.w-100.h-100.border.fw-bold.opacity-75.active.border-secondary {border: 1px solid var(--blue, #1191C8) !important;border-radius: 50% !important;flex-shrink: 0;}

.tables-sm tbody tr th {
  display: none !important;
}
.tables-sm thead tr th:first-child {
  display: none;
}
.tables-sm thead tr th {
  font-size: 16px !important;
  width: 40px !important;
  height: 40px !important;
}
.tables-sm thead tr,.tables-sm tbody tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
tr * {
  font-size: 16px;
  font-weight: 400;
}

.d-flex.js-cell-inner.justify-content-center.align-items-center.rounded-circle.w-100.h-100.border.fw-bold {
  border: none !important;
}
.p-2.js-collapse .mb-0.rounded-0 {
  display: none;
}
td.position-relative.p-1 {width: 40px !important;height: 40px !important;}